.learn-container{
    margin: 20px 20% 0 20%;
    height: 100vh;
    overflow: auto;
}

.learn-container h1{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: xx-large;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 10px 250px 10px;
    grid-gap: 20px;
  }

.lesson-card {
    display: flex;
    flex-direction: column;
    background-color: #FEFFC1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    /* box-shadow: 0px 2px 5px rgba(0,0,0,0.5); */
  }

.lesson-card img{
    width: 75%;
    height: auto;
    margin: 10px 0;
}

.lesson-card p{
    margin: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}