.side-icon{
    position: fixed;
    top: 15%;
    right: 0px;
    padding: 5px 5px 5px 20px;
    background-color: #FEFFC1;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    box-shadow: 0px 5px 0px #FFC369;
  }
  
  .icon-text {
    display: none;
  }
  
  /* Increase size on hover */
  .side-icon:hover {
    width: 150px; /* Increase width */
  }
  
  .side-icon:hover .icon-text {
    display: inline; /* Show text on hover */
    font-size: larger;
    font-weight: bold;
  }
  
  .note-pop {
    position: absolute;
    top: 5%; 
    bottom: 5%;
    right: 10px; 
    width: 30%;
    background-color: #FEFFC1;
    border: 1px solid #FFC369;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 5px 0px #FFC369;
  }
  
  #note-close-button {
    background-color: #FFC369;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
    height: 10%;
    padding-right: 10px;
  }
  
  .note-pop textarea{
    box-sizing: border-box;
    border: none;
    background-color: #FEFFC1;
    width: 96%;
    height: 86%;
    margin: 2%;
    padding: 2%;
    font-family: "Andika", sans-serif;
    font-style: normal;
    font-size: 15px;
  }
  