*{
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  margin: 0;
}

.Quiz {
  position: relative;
  min-height: 100vh; /* Ensure the content takes up at least the full height of the viewport */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.loading-bar-container {
  position: absolute;
  top: 40px; /* Adjust this value to control the distance from the bottom */
  left: 50%; /* Position at the horizontal center */
  transform: translateX(-50%);
  width: 50%;
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 10px;
  overflow: hidden;
}

.loading-bar {
  height: 80%;
  background-color: #FF7F00;
  transition: width 0.3s ease-in-out;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.leftHalf {
  flex: 1;
  display: flex;
  justify-content: center;
  max-height: 500px;
}

.image {
  max-width: 100%; /* Ensure image does not exceed container width */
  max-height: 100%; /* Ensure image does not exceed container height */
}

.rightHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightHalf Button{
  width: 60%;
  margin: 10px;
  min-height: 70px;
  border-width: 1px;
  color:black;
  text-transform: none;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.submitBar {
  position: absolute;
  bottom: -20px; /* Adjust this value to control the distance from the bottom */
  left: 50%; /* Position at the horizontal center */
  transform: translateX(-50%);
  width:40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 50px 20px;
  border: none;
}

.submitBar Button{
  text-transform: none;
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  width: 80%;
  color:snow;
}

.side-icon{
  position: fixed;
  top: 10%;
  right: 0px;
  padding: 5px 5px 5px 20px;
  background-color: #FEFFC1;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  box-shadow: 0px 5px 0px #FFC369;
}

.icon-text {
  display: none;
}

/* Increase size on hover */
.side-icon:hover {
  width: 150px; /* Increase width */
}

.side-icon:hover .icon-text {
  display: inline; /* Show text on hover */
  font-size: larger;
  font-weight: bold;
}

.note-pop {
  position: absolute;
  top: 5%; 
  bottom: 5%;
  right: 10px; 
  width: 30%;
  background-color: #FEFFC1;
  /* border: 1px solid #FFC369; */
  border-radius: 10px;
  color: black;
  box-shadow: 0px 5px 0px #FFC369;
}

#note-close-button {
  background-color: #FFC369;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
  height: 10%;
  padding-right: 10px;
}

.note-pop textarea{
  box-sizing: border-box;
  border: none;
  background-color: #FEFFC1;
  width: 96%;
  height: 86%;
  margin: 2%;
  padding: 2%;
  font-family: "Andika", sans-serif;
  font-style: normal;
  font-size: 15px;
}
