*{
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  position: relative;
  min-height: 100vh; /* Ensure the content takes up at least the full height of the viewport */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.loading-bar-container {
  position: absolute;
  top: 40px; /* Adjust this value to control the distance from the bottom */
  left: 50%; /* Position at the horizontal center */
  transform: translateX(-50%);
  width: 50%;
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 10px;
  overflow: hidden;
}

.loading-bar {
  height: 80%;
  background-color: #FF7F00;
  transition: width 0.3s ease-in-out;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.leftHalf {
  flex: 1;
  display: flex;
  justify-content: center;
  max-height: 500px;
}

.image {
  max-width: 100%; /* Ensure image does not exceed container width */
  max-height: 100%; /* Ensure image does not exceed container height */
}

.rightHalf {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightHalf Button{
  width: 60%;
  margin: 10px;
  min-height: 70px;
  border-width: 1px;
  color:black;
  text-transform: none;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bottomBar {
  position: absolute;
  bottom: -20px; /* Adjust this value to control the distance from the bottom */
  left: 50%; /* Position at the horizontal center */
  transform: translateX(-50%);
  width:40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 50px 20px;
}

.bottomBar Button{
  text-transform: none;
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  width: 80%;
  color:snow;
}

.sideBar {
  position: absolute;
  top: 10%; /* Adjust this value to control the distance from the bottom */
  right: -15px; /* Position at the horizontal center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px;
}

.sideBar .note{
  text-transform: none;
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
  color:snow;
}

.popUp {
  position: absolute;
  top: 2%; 
  right: 10px; 
  width: 30%;
  height: 96%;
  background-color: #FEFFC1;
  border: 1px solid #FFC369;
  border-radius: 5px;
  color: black;
}

#popup-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFC369;
  margin-bottom: 10px;
  font-size: 18px; /* Set text size to 18 pixels */
  font-weight: bold; /* Set text boldness */
  padding: 0 20px;
}


#popup-title-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0 20px;
  font-weight: bold; /* Set text boldness */
}

.popUp textarea{
  box-sizing: border-box;
  border: none;
  background-color: #FEFFC1;
  width: 90%;
  height: 80%;
  margin: 0px 10px;
  padding: 10px;
  font-family: "Andika", sans-serif;
  font-style: normal;
  font-size: 15px;
}
